/* Estilos para la lista de categorías */
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #84d670;
  }

/* Estilos para el formulario de agregar categoría */
.agregar-categoria {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #84d670;
  }
  
  .agregar-categoria div {
    margin-bottom: 10px;
  }
  
  .agregar-categoria label {
    display: block;
    font-weight: bold;
  }
  
  .agregar-categoria input[type="text"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 95%;
    padding: 5px;
    border: 1px solid #212121;
    border-radius: 3px;
  }
  
  .agregar-categoria button {
    padding: 10px 25px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  
  .agregar-categoria button:hover {
    color: #fff;
    background-color: #0056b3;
  }
  
  /* Estilos columna en pantalla pequeña */

.col-sm-12 {
  width: 100%;
  float: left;
}

.col-sm-10 {
  width: 83.33%;
  float: left;
}

.col-sm-8 {
  width: 66.66%;
  float: left;
}

.col-sm-6 {
  width: 50.00%;
  float: left;
}

.col-sm-4 {
  width: 33.33%;
  float: left;
}

.col-sm-2 {
  width: 16.66%;
  float: left;
}

/* Estilos columna en pantalla mediana */

@media (min-width: 576px) {
  .col-md-12 {
    width: 100%;
    float: left;
  }
}


@media (min-width: 576px) {
  .col-md-10 {
    width: 83.33%;
    float: left;
  }
}


@media (min-width: 576px) {
  .col-md-8 {
    width: 66.66%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-6 {
    width: 50.00%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-2 {
    width: 16.66%;
    float: left;
  }
}

/* Estilos columna en pantalla grande */

@media (min-width: 768px) {
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}


@media (min-width: 768px) {
  .col-lg-10 {
    width: 83.33%;
    float: left;
  }
}


@media (min-width: 768px) {
  .col-lg-8 {
    width: 66.66%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-6 {
    width: 50.00%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-2 {
    width: 16.66%;
    float: left;
  }
}

.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden
}
