<h2 class="text-center">Categorías</h2>



<div class="col-lg-2 col-md-2 col-sm-2">
  <div class="invisible">a</div>
</div>

<!-- Formulario para agregar una nueva categoría -->

<div class="col-lg-8 col-md-8 col-sm-8 text-center ">
  <ul>
    <li *ngFor="let categoria of categorias">
      {{ categoria.nombre }} - {{ categoria.detalle }}
    </li>
  </ul>
  
  <div class="agregar-categoria">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevaCategoria.nombre" placeholder="Nombre de la categoría">
    </div>
    <div>
      <label for="detalle">Detalle:</label>
      <input type="text" id="detalle" [(ngModel)]="nuevaCategoria.detalle" placeholder="Detalle de la categoría">
    </div>
    <button (click)="agregarCategoria()">Agregar</button>
  </div>
</div>