  /* Estilos para la tabla de movimientos */
  table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #84d670;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
/* Estilos para el formulario de movimiento */
.movimiento-form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 15px;
  border: 1px solid #313131;
  border-radius: 5px;
  background-color: #84d670;
  max-width: 400px;
}

.movimiento-form label {
  font-weight: bold;
}

.movimiento-form input[type="text"],
.movimiento-form input[type="number"],
.movimiento-form input[type="date"],
.movimiento-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #313131;
  border-radius: 3px;
}

.movimiento-form button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

.movimiento-form button:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 80%;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #84d670;
  border: 1px solid #313131;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #313131;
  border-radius: 3px;
}

.search-button {
  background-color: #fff;
  color: #000000;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Estilos para la lista de busquedas */
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Estilos para responsive */

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Estilos columna en pantalla pequeña */

.col-sm-12 {
  width: 100%;
  float: left;
}

.col-sm-10 {
  width: 83.33%;
  float: left;
}

.col-sm-8 {
  width: 66.66%;
  float: left;
}

.col-sm-6 {
  width: 50.00%;
  float: left;
}

.col-sm-4 {
  width: 33.33%;
  float: left;
}

.col-sm-2 {
  width: 16.66%;
  float: left;
}

/* Estilos columna en pantalla mediana */

@media (min-width: 576px) {
  .col-md-12 {
    width: 100%;
    float: left;
  }
}


@media (min-width: 576px) {
  .col-md-10 {
    width: 83.33%;
    float: left;
  }
}


@media (min-width: 576px) {
  .col-md-8 {
    width: 66.66%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-6 {
    width: 50.00%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-md-2 {
    width: 16.66%;
    float: left;
  }
}

/* Estilos columna en pantalla grande */

@media (min-width: 768px) {
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}


@media (min-width: 768px) {
  .col-lg-10 {
    width: 83.33%;
    float: left;
  }
}


@media (min-width: 768px) {
  .col-lg-8 {
    width: 66.66%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-6 {
    width: 50.00%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-lg-2 {
    width: 16.66%;
    float: left;
  }
}

/* Estilo columna */

.col {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilos text center */

.text-center {
  text-align: center;
}

.background-color-green{
  background-color: #84d670;
}

.border-color-dark{
  border: 1px solid #333;
}

.margin-top-5{
  margin-top: 10px;
}

.margin-top-10{
  margin-top: 25px;
}

.margin-top-25{
  margin-top: 50px;
}

/* Formulario de Busqueda por fecha */

.formulario-busqueda {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #84d670;
  padding: 20px;
  border: 1px solid #212121;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.formulario-busqueda form {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #fff;
  color: #000000;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

