<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2>Movimientos</h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h2>Agregar nuevo movimiento</h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Detalle</th>
            <th>Monto</th>
            <th>Categoría</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of movimientos">
            <td>{{ movimiento.nombre }}</td>
            <td>{{ movimiento.tipo }}</td>
            <td>{{ movimiento.detalle }}</td>
            <td>{{ movimiento.monto }}</td>
            <td>{{ movimiento.categoria.nombre }}</td>
            <td>{{ movimiento.fecha | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- ... Formulario Nuevo Movimiento ... -->
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
      <form class="movimiento-form" (ngSubmit)="agregarMovimiento()">
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoMovimiento.nombre" required>
        </div>
        <div>
          <label for="tipo">Tipo:</label>
          <select id="tipo" name="tipo" [(ngModel)]="nuevoMovimiento.tipo" required>
            <option value="Egreso">Egreso</option>
            <option value="Ingreso">Ingreso</option>
          </select>
        </div>
        <div>
          <label for="detalle">Detalle:</label>
          <input type="text" id="detalle" name="detalle" [(ngModel)]="nuevoMovimiento.detalle">
        </div>
        <div>
          <label for="monto">Monto:</label>
          <input type="number" id="monto" name="monto" [(ngModel)]="nuevoMovimiento.monto" required>
        </div>
        <div>
          <label for="fecha">Fecha:</label>
          <input type="date" id="fecha" name="fecha" [(ngModel)]="nuevoMovimiento.fecha" required>
        </div>
        <div>
          <label for="categoria">Categoría:</label>
          <select id="categoria" name="categoria" [(ngModel)]="nuevoMovimiento.categoria" required>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
          </select>    
        </div>
        <button type="submit">Agregar Movimiento</button>
      </form>
      <br>
    </div>

    <hr>
    <!-- ... Balance y busqueda ... -->
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h4 class="background-color-green border-color-dark margin-top-5">Balance Total: {{ balance }}</h4>
    </div>
    <hr>

    <h2>Buscar Movimientos</h2>

    <div class="search-form">
      <div class="form-group">
        <label for="tipoBuscado" class="form-label">Tipo:</label>
        <select class="form-control" id="tipoBuscado" name="tipoBuscado" [(ngModel)]="tipoBuscado">
          <option value="">Todos los Tipos</option>
          <option value="Egreso">Egreso</option>
          <option value="Ingreso">Ingreso</option>
        </select>
      </div>

      <div class="form-group">
        <label for="categoriaBuscada" class="form-label">Categoría:</label>
        <select class="form-control" id="categoriaBuscada" name="categoriaBuscada" [(ngModel)]="categoriaBuscada">
          <option value="">Todas las Categorías</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria.nombre">{{ categoria.nombre }}</option>
        </select>
      </div>

      <button (click)="calcularBalance()" class="search-button">Buscar</button>
    </div>

    <!-- Resultados de búsqueda -->
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Detalle</th>
            <th>Monto</th>
            <th>Categoría</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of movimientosFiltrados">
            <td>{{ movimiento.nombre }}</td>
            <td>{{ movimiento.tipo }}</td>
            <td>{{ movimiento.detalle }}</td>
            <td>{{ movimiento.monto }}</td>
            <td>{{ movimiento.categoria.nombre }}</td>
            <td>{{ movimiento.fecha | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12  margin-top-25">
      <hr>       
      <h2>Buscar Movimientos por Fecha y Tipo</h2>
      <hr class="margin-top-10">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 margin-top-25">
      <div class="formulario-busqueda">
        <div>
          <label for="tipo">Tipo:</label>
          <select id="tipo" [(ngModel)]="tipoSeleccionado">
            <option value="ingreso">Ingreso</option>
            <option value="egreso">Egreso</option>
          </select>
        </div>
        <label for="mes">Mes:</label>
        <select id="mes" [(ngModel)]="mesBusqueda">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>

        <label for="anio">Año:</label>
        <select id="anio" [(ngModel)]="anioBusqueda">
          <option *ngFor="let anio of aniosBusqueda" [value]="anio">{{ anio }}</option>
        </select>

        <button class="margin-top-5" (click)="buscarMovimientosPorMesYAnio()">Buscar</button>
      </div>
    </div>

    <!-- Resultados de búsqueda -->

    <div class="col-sm-12 col-md-8 col-lg-8 margin-top-25">
      <h4 class="background-color-green border-color-dark margin-top-5">Balance Total: {{ balancePorFecha }}</h4>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Detalle</th>
            <th>Monto</th>
            <th>Categoría</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of busquedaPorFecha">
            <td>{{ movimiento.nombre }}</td>
            <td>{{ movimiento.tipo }}</td>
            <td>{{ movimiento.detalle }}</td>
            <td>{{ movimiento.monto }}</td>
            <td>{{ movimiento.categoria.nombre }}</td>
            <td>{{ movimiento.fecha | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

