/* Estilos para la lista de categorías */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  /* Estilos para la tabla de movimientos */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para la lista de categorías */
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Estilos para el formulario de agregar categoría */
.agregar-categoria {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.agregar-categoria div {
  margin-bottom: 10px;
}

.agregar-categoria label {
  display: block;
  font-weight: bold;
}

.agregar-categoria input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.agregar-categoria button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.agregar-categoria button:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario de movimiento */
.movimiento-form {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  max-width: 400px;
}

.movimiento-form label {
  font-weight: bold;
}

.movimiento-form input[type="text"],
.movimiento-form input[type="number"],
.movimiento-form input[type="date"],
.movimiento-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.movimiento-form button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.movimiento-form button:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
