<h2>Categorías</h2>
<ul>
  <li *ngFor="let categoria of categorias">
    {{ categoria.nombre }} - {{ categoria.detalle }}
  </li>
</ul>


<!-- Formulario para agregar una nueva categoría -->
<div class="agregar-categoria">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nuevaCategoria.nombre" placeholder="Nombre de la categoría">
  </div>
  <div>
    <label for="detalle">Detalle:</label>
    <input type="text" id="detalle" [(ngModel)]="nuevaCategoria.detalle" placeholder="Detalle de la categoría">
  </div>
  <button (click)="agregarCategoria()">Agregar</button>
</div>

<h2>Movimientos</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Detalle</th>
      <th>Monto</th>
      <th>Categoría</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimiento of movimientos">
      <td>{{ movimiento.nombre }}</td>
      <td>{{ movimiento.tipo }}</td>
      <td>{{ movimiento.detalle }}</td>
      <td>{{ movimiento.monto }}</td>
      <td>{{ movimiento.categoria.nombre }}</td>
      <td>{{ movimiento.fecha | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<h2>Agregar Nuevo Movimiento</h2>

<form class="movimiento-form" (ngSubmit)="agregarMovimiento()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoMovimiento.nombre" required>
  </div>
  <div>
    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" [(ngModel)]="nuevoMovimiento.tipo" required>
      <option value="Egreso">Egreso</option>
      <option value="Ingreso">Ingreso</option>
    </select>
  </div>
  <div>
    <label for="detalle">Detalle:</label>
    <input type="text" id="detalle" name="detalle" [(ngModel)]="nuevoMovimiento.detalle">
  </div>
  <div>
    <label for="monto">Monto:</label>
    <input type="number" id="monto" name="monto" [(ngModel)]="nuevoMovimiento.monto" required>
  </div>
  <div>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" [(ngModel)]="nuevoMovimiento.fecha" required>
  </div>
  <div>
    <label for="categoria">Categoría:</label>
    <select id="categoria" name="categoria" [(ngModel)]="nuevoMovimiento.categoria" required>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
    </select>    
  </div>
  <button type="submit">Agregar Movimiento</button>
</form>



<!-- ... Balance y busqueda ... -->

<h2>Balance</h2>

<p>Balance Total: {{ balance }}</p>

<h2>Buscar Movimientos</h2>

<div class="search-form">
  <div class="form-group">
    <label for="tipoBuscado" class="form-label">Tipo:</label>
    <select class="form-control" id="tipoBuscado" name="tipoBuscado" [(ngModel)]="tipoBuscado">
      <option value="">Todos los Tipos</option>
      <option value="Egreso">Egreso</option>
      <option value="Ingreso">Ingreso</option>
    </select>
  </div>

  <div class="form-group">
    <label for="categoriaBuscada" class="form-label">Categoría:</label>
    <select class="form-control" id="categoriaBuscada" name="categoriaBuscada" [(ngModel)]="categoriaBuscada">
      <option value="">Todas las Categorías</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria.nombre">{{ categoria.nombre }}</option>
    </select>
  </div>

  <button (click)="calcularBalance()" class="search-button">Buscar</button>
</div>

<!-- Resultados de búsqueda aquí -->
<ul>
  <li *ngFor="let movimiento of movimientosFiltrados">
    {{ movimiento.nombre }} - {{ movimiento.monto }} - {{ movimiento.fecha }}
  </li>
</ul>